<div class="container">
  <h1>Registration form</h1>
  <form>
    <div class="form-group">
      <label for="username">Username: </label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Enter your username.."
        [(ngModel)]="user.username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        type="text"
        class="form-control"
        name="password"
        id="password"
        placeholder="Enter your password.."
        [(ngModel)]="user.password"
      />
    </div>
    <br />
    <button
      type="button"
      class="btn btn-success btn-lg"
      (click)="onRegisterClicked()"
      [disabled]="isLoading"
    >
      Register
    </button>
    <br />
    <br>

    <div *ngIf="registerError" class="alert alert-danger" role="alert"> 
        <p>Something went wrong </p>
        <p>{{ registerError }}</p>
    </div>

    <div *ngIf="isLoading">
      <p>Registering your account..</p>
    </div>
    <br />
  </form>
  <a routerLink="/login">Click here if you already have an account</a>
</div>
