
<div class="container">
  <h1>Login in to your page!</h1>
  <form>
    <div class="form-group">
      <label for="username">Username: </label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Enter your username.."
        [(ngModel)]="user.username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        type="text"
        class="form-control"

        name="password"
        id="password"
        placeholder="Enter your password.."
        [(ngModel)]="user.password"
      />
    </div>
    <br />
    <button class="btn btn-primary btn-lg" type="button" (click)="onLoginClicked()">Login</button>
    <br />
    <br />
    <div *ngIf="loginError" class="alert alert-danger" role="alert"> 
        <p>Something went wrong </p>
        <p>{{ loginError }}</p>
    </div>

    <div *ngIf="isLoading">
      <p>Attempting to login..</p>
    </div>
  </form>
  <a routerLink="/register">Register now</a>
</div>
